<header class="jumbotron">
	<div class="container-fluid">
		<div class="container">
			<div class="hd-container">
				<p class="hd-site-caption"><font>Easy search for recruitment information in Ktm City</font><br><font>
					Part time job / part-time job search / recruit job search site 【JobsKTM】</font></p>
				<nav class="gnav-wrap">
					<ul class="gnav-inner">
						<li><a href="#" target="_blank"><font><font>Articles</font></font></a></li>
						<li><a href="#" target="_blank"><font><font>New Article</font></font></a></li>
						<li><a href="#" target="_blank"><font><font>Click here if you are planning to post</font></font></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>